/*general*/
* {
    padding: 0;
    margin: 0;
}

/*sections*/
section {
    height: 1000px;
    float: left;
}
section.Left {
    width: 63%;
    background-color: #ecf5ff;
}
section.Right {
    width: 37%;
    background-color: #126dc2;
}

/*headers*/
.header {
    width: 100%; height: 100px;
    background-color: #082d79;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    /**justify-content: center;*/
}
.header.Left.logo {
    align-items: center;

}




.container {
    display: flex;
    background-color: purple;
    font-size: 70px;
    color: blue;
}
