<!DOCTYPE html>
<html>
<head>
    <title>Upload CSV and Display Data</title>
</head>
<body>

<h2>Upload CSV File</h2>
<form id="upload-form" method="post" enctype="multipart/form-data">
  <input type="file" name="file" accept=".csv">
  <button type="submit">Upload</button>
</form>


<h2>Data from SQL</h2>
<div id="data-display">
    <!-- Data will be displayed here -->
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/script.js"></script>

</body>
</html>
